:root {
    --color-primary-1: hsl(0, 36%, 70%);
    --color-primary-2: hsl(0, 93%, 68%);

    --color-neutral-1: hsl(0, 6%, 24%);

    --color-gradient-1: hsl(0, 0%, 100%);
    --color-gradient-2: hsl(0, 100%, 98%);

    --color-gradient-3: hsl(0, 80%, 86%);
    --color-gradient-4: hsl(0, 74%, 74%);
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    height: 100%;
}

img {
    max-width: 100%;
}

body {
    font-size: 1.6rem;
    font-family: "Josefin Sans", sans-serif;
    height: 100%;

    padding: 0;
}

.apparel {
    background-image: linear-gradient(to bottom, var(--color-gradient-1), var(--color-gradient-2));
}

.apparel__logo-box {
    padding: 2.5rem;
}

.apparel__logo {
    height: 2rem;
}

.apparel__hero {
    text-align: center;
}

.apparel__text {
    padding: 5rem;
    text-align: center;
    max-width: 60rem;
    margin: 0 auto;
}

.apparel__h1 {
    font-size: 4rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    color: var(--color-neutral-1);
    letter-spacing: 1rem;
    line-height: 0.9;
    font-weight: 600;
}

.apparel__h1--light {
    display: block;
    color: var(--color-primary-1);
    font-weight: 300;
}

.apparel__paragraph {
    line-height: 1.5;
    color: var(--color-primary-1);
    font-weight: 400;
}

.apparel__form {
    margin-top: 2rem;
}

.apparel__input-group {
    border: 1px solid var(--color-gradient-3);
    border-radius: 3rem;
    display: flex;
    align-items: center;
}

.apparel__input::placeholder {
    color: var(--color-primary-1);
    font-weight: 400;
}

.apparel__input {
    border: none;
    background-color: transparent;
    margin-left: 1rem;
    color: var(--color-neutral-1);
    margin-right: auto;
    font-weight: 700;
}

.apparel__input:focus {
    outline: none;
}

.apparel__input-error {
    color: var(--color-primary-1);
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 1rem;
    display: none;
}

.apparel__input--danger {
    border: 2px solid red;
}

.apparel__input-icon {
    margin-right: 1rem;
    display: none;
}

.apparel__btn {
    background-image: linear-gradient(to right, var(--color-gradient-3), var(--color-gradient-4));
    border: none;
    outline: none;
    padding: 1rem 2.5rem;
    border-radius: 2rem;
    transition: all 0.5s;
}

.apparel__btn:hover {
    transform: translateY(-0.1rem) scale(1.2);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.4);
    cursor: pointer;
    opacity: 0.8;
}

.apparel__hero--2 {
    display: none;
}

.apparel__hero--1 {
    display: block;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 1000px) {
    html {
        font-size: 70%;
    }

    .apparel {
        display: flex;
        align-items: center;
    }

    .apparel__logo-box {
        padding: 2.5rem 5rem;
    }

    .apparel__text {
        text-align: left;
        width: 80%;
        margin: 0 0;
    }

    .apparel__hero--1 {
        display: none;
    }

    .apparel__hero--2 {
        display: block;
        width: 40%;
        flex: 1 0 40%;
    }
}
